.container {
    text-align: center;
    width: 100%;
    padding: 30px 15px;
}

h1 {
    color: #8C2771;
    padding: 3rem 0;
    font-size: 26px;
}

h1, h3, h5 {
    font-weight: lighter;
}

input.form-control {
    border: none;
    border-bottom: 1px solid #8C2771;
    border-radius: 0;
    text-align: center;
    width: 230px;
}

.btn {
    background-color: #8C2771;
    border: none;
    margin: 2rem 0 3rem;
}
.btn:hover {
    background-color: #8c2771;
    opacity: 0.8;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #8c2771;
    opacity: 0.8;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn a:hover {
    text-decoration: none;
}

.btn-category, .btn-date {
    border-radius: 100%;
    height: 200px;
    width: 200px;

}

.create {
    color: white;
    font-size: 20px;
    padding: 0 35px 0 35px;
}

.btn-category h3, .btn-date h3  {
    color: white;
    font-size: 23px;
}

.settings {
    margin: 0 auto;
    margin-top: 85px;
    width: 230px;
}
.settings a {
    color: #707070;
}
.settings h3 {
    padding: 15px 0;
    border-bottom: 1px solid #707070;
}
.settings .col-12:first-child h3 {
    padding: 15px 0;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

/*
.modale {
    border: 1px solid #707070;
    width: 280px;
    background-color: #fff;
    position: relative;
    top: -235px;
    margin: 0 auto;
}
.modale h5 {
    padding: 20px 50px;
    border-bottom: 1px solid #707070;
}
.modale div {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
*/

.profile .form-group {
    margin-bottom: 2rem;
}
.profile label {
    display: flex;
    justify-content: left;
    margin-left: 10%;
    margin-bottom: 0;
}
.profile input {
    margin: 0 auto;
}


.archive .row:last-child {
    flex-wrap: nowrap;
}
.archive .row .col-1 {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 23px;
}
.archive .row .col-1 h1 {
    transform: rotate(-90deg);
    padding: 0;
    position: absolute;
    left: -85%;
}
.archive .row .col-11 {
    padding: 30px 30px 0;
}
.archive .row .col-11 .row {
    margin-bottom: 20px;
}
.archive .row .col-11 .row .col-6 {
    padding: 0;
}
.archive .row .col-6 h3 {
    width: 130px;
    height: 130px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}
.archive .row .col-6 h3#home{
    background-color: #ED0041;
}
.archive .row .col-6 h3#animals{
    background-color: #00A986;
}
.archive .row .col-6 h3#people{
    background-color: #008F09;
}
.archive .row .col-6 h3#other{
    background-color: #E49400;
}
.archive .row .col-6 h3#financial{
    background-color: #27DCDA;
}


.list {
    flex-wrap: nowrap;
}
.list .col-1 {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 23px;
}
.list .col-1 h1 {
    transform: rotate(-90deg);
    padding: 0;
    position: absolute;
    left: -85%;
}
.list .col-11 {
    padding: 0;
}
.list .col-11 h3:nth-last-child(odd) {
    background-color: #661254;
    padding: 30px 0;
    color: #fff;
    margin: 0;
}
.list .col-11 h3:nth-last-child(even) {
    background-color: #8D286E;
    padding: 30px 0;
    color: #fff;
    margin: 0;
}



.index {
    width: 200px;
    margin: 0 auto;
}
.index > h6 {
    text-align: left;
    font-size: 16px;
    color: #8C2771;
    margin-bottom: -11px;
}
.index > hr {
    width: 200px !important;
    border-top: 1px solid #8C2771;
}

.index > h3 {
    margin-bottom: 15px;
    font-size: 18px;
}


.agg-scad {
    flex-wrap: nowrap;
}
.agg-scad .col-1 {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 23px;
}
.agg-scad .col-1 h1 {
    transform: rotate(-90deg);
    padding: 0;
    position: absolute;
    left: -85%;
}
.agg-scad .col-11 {
    padding: 30px;
    background-color: #8D286E;
}
.agg-scad .col-11 img {
    background-color: #fff;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}


/* CSS for category */

.control {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 16px;
    height: auto;
}

.category hr, .subcategory hr {
    border-top: 1px solid #8C2771;
    width: 130px;
}
.date hr {
    border-top: 1px solid #8C2771;
    width: 160px;
}
input {
    border: none;
}
.container.bcg {
    background-color: #8C2771;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.circle{
    border-radius: 100%;
    background-color: white;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.tick {
    transform: scale(0.5);
}

a {
    color: #000000;
}

.logo {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
